.body {
    background-color: #FCF6EF;
    font-family: Rubik;

    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%; 
}

.full-images {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: -10px auto;
}

.top-logo {
    width: 70px;
    height: 70px;

    position: absolute;
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    clip-path:circle(50%);
}

.shop-buttons {
    background-color:#FF6600;
    color: #FCF6EF;
    border: none;
    border-radius: 26px;
    width: 48%;
    max-width: 220px;
    height: 60px;

    font-size: 24px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1.9px;
    font-family: Bitter;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

    position: absolute;
    top: 43.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
}

.shop-buttons:hover {
    background-color:#ff8d41;
}

.social-links  {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 16px;
    text-align: center;

}

.social-links button {
    background-color:#FF6600;
    color: #FCF6EF;
    border: none;
    border-radius: 26px;
    width: 48%;
    max-width: 220px;
    height: 60px;

    font-size: 24px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1.9px;
    font-family: Bitter;
    cursor: pointer;
    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0 auto; /* Center wrapper horizontally */
    position: relative;

    margin-bottom: 20px;
    padding: 10px 20px;
}

.social-links button:hover {
    background-color:#ff8d41;
}

.popular-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:-18px;
}

.titles {
    font-size: 28px;
    font-weight: 500;
    width: 600px;
    text-align: left;
}

.our-story {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}


.about {
    color:#FF6600;
    text-align: center;
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.footer {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 30px;

    text-align: center;
    margin: 0 auto;
}

.bottom-logo {
    width: 50px;

}

.copyright {
    color:#FF6600;
    font-size: 12px;

}

@media only screen and (max-width: 320px) {
    .full-images .social-links .titles .about .footer {
        max-width:none;
    }

}