.body {
    background-color: #FCF6EF;
    font-family: Rubik;

    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body a {
    text-decoration: none;
    width: fit-content;
}

.hero {
    position: relative;
    width: 100%; 
}

.full-images {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: -10px auto;
}

.top-logo {
    width: 70px;
    height: 70px;
    margin-top: 10px;

    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    clip-path:circle(50%);
}

.shop-buttons {
    background-color:#FF6600;
    color: #FCF6EF;
    border: none;
    border-radius: 26px;
    width: 48%;
    max-width: 220px;
    height: 60px;

    font-size: 24px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1.9px;
    font-family: Bitter;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

    position: absolute;
    top: 43.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
}

.shop-buttons:hover {
    background-color:#ff8d41;
}

.social-links-block  {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.social-links {
    background-color:#FF6600;
    color: #FCF6EF;
    border: none;
    border-radius: 26px;
    max-width: 220px;
    height: 60px;
    width: 220px;

    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1.9px;
    font-family: Bitter;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links button:last-child {
    margin-bottom: 0;
}

.social-links:hover {
    background-color:#ff8d41;
}

.popular-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:-18px;
    margin-left: 10px;
}

.titles {
    font-size: 28px;
    font-weight: 500;
    width: 600px;
    text-align: left;
}

.our-story {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}


.about {
    color:#FF6600;
    text-align: center;
    width: 96%;
    max-width: 600px;
    display: block;
    margin: 0 auto;

    margin-bottom: 32px;
}

.footer {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin: 0 auto;
}

.bottom-logo {
    padding-top: 30px;
    width: 50px;
    margin-bottom: 10px;
}

.copyright {
    color:#FF6600;
    font-size: 12px;
    margin-top: 4px;
}